<?php

$group_id = $this->getGroupId();

$_slides = $this->getSlides($group_id);
$div_id = 'mr-owl-carousel-' . $group_id;
?>

<div id="<?php echo $div_id ; ?>" class="owl-carousel">
    <?php foreach($_slides as $_slide) : ?>
        <?php $_slide_link = $_slide->getSlideLinkUrl(); ?>
        <div>
           <?php if($_slide_link) : ?> <a href="<?php echo $_slide->getSlideLinkUrl() ; ?>"> <?php endif ?>
                <img src="<?php echo $_slide->getImageUrl() ; ?>" alt="<?php echo $_slide->getAltText() ?>" />
           <?php if($_slide_link) : ?></a><?php endif ?>
        </div>
    <?php endforeach ?>
</div>


<script>
    jQuery(document).ready(function() {
        jQuery("<?php echo '#'. $div_id ?>").owlCarousel({
//            autoPlay : 10000,
//            slideSpeed: 200,
//            stopOnHover : true,
//            navigation:false,
//            navigationText:false,
//            paginationSpeed : 500,
//            singleItem : true,
//            autoHeight : true,
//            rewindNav: true,
//            rewindSpeed: 600,
//            transitionStyle:"fade"
            items: 1,
            loop: <?php echo (count($_slides) > 1) ? 1 : 0 ?>,
            autoplay: true,
            autoplayTimeout: 10000,
            autoplayHoverPause: true,
            responsiveRefreshRate: 100
        });
    });
</script>

